.main_div {
  border-radius: 10px; /* adds rounded corners to elements */
  width: 1000px;
  margin:auto;
}
body{
  background-image: url(../images/imagem.jpg);
}

section{
  opacity: 0.95;
}

.section_1 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0px 40px; /* top and bottom, right and left */
}

nav {
  width: fit-content;
  background-color: whitesmoke;
  text-align: right;
  padding: 1px;
  border-radius: 20px; /* adds rounded corners to elements */
  border: solid 3px rgb(102, 128, 162);
}

.ul_nav {
  display: flex;
  flex-direction: row;
  list-style-type: none; /* nao ter os pontos na lista */
  border-right: 0;
  padding-right: 50px;
}
.li_nav {
  width: fit-content;
  background-color: white;
  transition-duration: 0.4s;
  padding: 10px 40px; /* top and bottom, right and left */
  border: solid 3px rgb(102, 128, 162);
  border-radius: 6px; /* adds rounded corners to elements */
  margin-bottom: 1px;
  margin-right: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.li_nav:hover {
  background-color: rgb(220, 222, 225);
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

.list_section {
  width: 100%;
}

ul {
  list-style-type: none; /* nao ter os pontos na lista */
}

li {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.list_item_section {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border: solid 3px rgb(102, 128, 162);
  padding: 2% 5%; /* top and bottom, right and left */
  margin-left: 0px; /* dar overwrite na margem left para ficar colado a imagem da cena azul*/
}

.list_item_section:hover {
  border: solid 4px rgb(102, 128, 162);
  transition-duration: 0.4s;
}

.list_item_section:hover > .list_item_section_title { /* influencia a .list_item_section_title quando a .list_item_section:hover tem hover */
  border: solid 3px rgb(102, 128, 162);
  transition-duration: 0.4s; /* duracao ate o efeito se aplicar*/
}

.list_item_section_title {
  width: 100%;
  background-color: rgb(220, 222, 225);
  font-weight: bold;
  line-height: 10px; /* reduzir espacamento entre linhas*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section,
header {
  margin: 5px;
  border-radius: 20px; /* adds rounded corners to elements */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p{
  text-align:justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


